node_modules
.next
.git
.idea
.vscode
.env
.env.local
.env.production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.firebaserc
firebase.json
README.md
Dockerfile
docker-compose.yml
.gitignore
